@using CourseApp.Areas.Admin.Models.TeacherDTOs
@model UpdateTeacherDTO
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update Teacher";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="col-lg-12 top20">
    <div class="widgets-container">


        <h5>Update Teacher</h5>
        <hr>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="TeacherId" hidden />
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="TeacherName" class="form-control" placeholder="Teacher name" type="text">
                    <span asp-validation-for="TeacherName" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <input asp-for="TeacherImage" class="form-control" type="file">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <input asp-for="Speciality" class="form-control" placeholder="Speciality" type="text">
                    <span asp-validation-for="Speciality" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <textarea asp-for="Description" id="editor" class="form-control" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <br />
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
        
    </div>
</div>
<script src="~/ckeditor5-build-classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });
</script>


