@model AppUser

<div class="d-flex">
    <img src="@Model.Image" style="height:50px ; width:100px; border-radius:50%"   />
    <div>
        <h6 style="margin-top:10px; margin-right:10px">@Model.Name @Model.Surname</h6>       
         <a href="/Login/LogOut">Sign Out</a>
        
    </div>
   
</div>