@model ContactDetail

<div class="col-lg-4 col-md-6 footer-list-29">
    <h6 class="footer-title-29">Contact Info </h6>
    <p class="mb-2 pe-xl-5">
        Address : @Model.Address
    </p>
    <p class="mb-2">Phone Number : <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></p>
    <p class="mb-2">Email : <a href="mailto:@Model.Email">@Model.Email</a></p>
</div>