@{
    ViewData["Title"] = "Home";
    ViewData["HomeA"] = "active-menu";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}






<!-- banner section -->
<div class="upstudy-hero-section section" style="background-image: url(~/upstudy/assets/images/bg/hero-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <!-- Hero Content Start -->
                <div class="hero-content">
                    <p class="text" data-aos="fade-up" data-aos-delay="800"><img src="~/upstudy/assets/images/energy.png" alt=""> Learn From 20,000+ Powerful Courses</p>
                    <h2 class="title" data-aos="fade-up" data-aos-delay="700">Best <span>platform</span> to Empower Skills</h2>
                    <div class="hero-btn" data-aos="fade-up" data-aos-delay="900">
                        <a class="btn" href="login-register.html">Try 7 days Free Trial</a>
                    </div>
                    <p class="link-text" data-aos="fade-up" data-aos-delay="1000"><span>No credit card required.</span> By clicking ‘Start a Free Trial’</p>
                </div>
                <!-- Hero Content End -->
            </div>
            <div class="col-lg-6">
                <!-- Hero Images Start -->
                <div class="hero-images">
                    <img class="shape-1" src="~/upstudy/assets/images/shape/hero-shape1.png" alt="">
                    <div class="shape-2"></div>
                    <div class="shape-6">
                        <img src="~/upstudy/assets/images/shape/shape-7.png" alt="">
                    </div>
                    <div class="image">
                        <img src="~/upstudy/assets/images/hero-img.png" alt="">
                        <div class="image-content text-center">
                            <img src="assets/images/student-img.png" alt="">
                            <div class="image-text">
                                <h3 class="number">100k+</h3>
                                <p>Total Enrolled Students</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Images End -->
            </div>
        </div>
    </div>

</div>
<!-- //banner section -->


<!-- home 4grids block -->
@await Component.InvokeAsync("_CategoryHomePagePartialComponent")


<!-- home 4grids block -->
<!-- home image with content block -->
@*@await Component.InvokeAsync("_AboutHomePagePartialComponent")*@


<!-- //home image with content block -->
<!-- courses section -->
@await Component.InvokeAsync("_CoursesHomePagePartialComponent")

<!-- //courses section -->

<!-- testimonials block -->
@await Component.InvokeAsync("_TestimonialsHomePagePartialComponent")

<!-- //testimonials block -->
<br />
<br />