@using CourseApp.Areas.Admin.Models.AdminDTOs
@model CreateAdminDTO
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Admin";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<div class="col-lg-12 top20">
    <div class="widgets-container">


        <h5>Create Admin</h5>
        <hr>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="Name" class="form-control" placeholder="Admin name" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="col-md-4">
                    <input asp-for="Surname" class="form-control" placeholder="Admin surname" type="text">
                    <span asp-validation-for="Surname" class="text-danger"></span>

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="Image" class="form-control" type="file">
                    <span asp-validation-for="Image" class="text-danger"></span>

                </div>

                <div class="col-md-4">
                    <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input asp-for="Username" class="form-control" placeholder="Username" type="text">
                    <span asp-validation-for="Username" class="text-danger"></span>

                </div>

                <div class="col-md-4">
                    <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

            </div>
            <br />
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

